.header {
    @include display-flex-row;
    width: 100%;
    height: 40px;
    font-family: $font-style1;
    color: $font-color1;
    background: $background-color0;

    // padding: 0;


    &-title {
        font-size: 15px;
        font-weight: 500;
    }

    &-nav {
        @include display-flex-row;


        // &-container {
        //     @include display-flex-column;
        // }

        &-menu {
            display: none;
            list-style: none;
        }

        &-item {
           
            list-style: none;
            margin: 0 13px;


            & > a {
                font-size: 15px;
                font-weight: 500;
                color: $font-color1;
                text-decoration: none;
            }

            & > a:hover {
                text-decoration: underline;
            }
        }
    }


    @media (max-width: 596px) {
        position: relative;
        height: 60px;

        &-nav {
            position: absolute;
            right: 45px;
            bottom: -100px;
            display: block;
            text-align: end;
            background: #2d76a6a9;


            &-menu {
                position: relative;
                display: block;
                height: 100%;
                margin: 0;
                padding: 10px 0;
                
                
            }
            
            &-item {
                display: none;
                width: 100px;
                height: 25px;
            }

            &-container {
                flex-direction: column;
            }
            &-container:hover > nav > li {
                display: block;
                
            }
    
           
        }
    
    
    }

    @media (max-width: 420px) {
        &-nav {
            right: 25px;
        }
    }
}