.githubActivity {
  display: grid;
  grid-template-columns: 1.4fr 1fr 1fr;
  height: 43px;
  align-items: center;
  border-bottom: 1px solid rgba($color: #F1F1F1, $alpha: 0.5);

  p {
    margin: 0;
  }

  &-linkRepo {
    text-decoration: none;
    color: #4391F3;
    font-size: 18px;
    font-weight: bold;
  }

  &-tecnologies-item {
    @include display-flex-row;
    width: fit-content;
    div {
      width: 18px;
      height: 18px;
      background-color: antiquewhite;
      border-radius: 100%;
      margin-right: 10px;
    }
  }
}

.githubActivity:last-child {
  border: none;
}