.about {
    @include font-main;
    @include display-flex-column;
    align-items: flex-start;
    height: 200px;

    &-title {
        margin: 10px 0;
    }

    @media (max-width: 539px) {
        height: 250px;
    
    }
    
    @media (max-width: 394px) {
        height: 300px;
     
    }
}